/* jost-regular - latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/jost-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/jost-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jost-500 - latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("/fonts/jost-v12-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/jost-v12-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jost-600 - latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("/fonts/jost-v12-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/jost-v12-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jost-700 - latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/jost-v12-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/jost-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f2f2f2;
}

.with-replies:before {
  content: "";
  position: absolute;
  width: 0px;
  height: calc(100% - 3.7rem);
  border: 1px solid rgba(229, 231, 235);
  left: 0;
  top: 3.7rem;
}

.with-replies section:last-of-type {
  position: relative;
}
.with-replies section:last-of-type:before {
  content: "";
  position: absolute;
  width: 0px;
  height: calc(100% - 2rem);
  border: 2px solid white;
  left: 0;
  top: 2rem;
}
html {
  /*
    Silence the warning about missing Reach Dialog styles
  */
  --reach-dialog: 1;
  --reach-listbox: 1;
}

#root {
  /*
    Create a stacking context, without a z-index.
    This ensures that all portal content (modals and tooltips) will
    float above the app.
  */
  isolation: isolate;
}
